# Virtual environment
venv/

# Environment variables
.env

# Logs
logs/
*.log

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# VS Code
.vscode/

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db